body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 16px;
}

nav {
  background-color: #ddd;
  padding: 8px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 16px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 8px;
  display: block;
}

nav a:hover {
  background-color: #333;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image-container img {
  max-width: 40%;
  height: auto;
  margin-bottom: 16px;
}

section h2 {
  font-size: 24px;
  margin-top: 24px;
}

section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section li {
  margin-bottom: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background-color: #eee;
}

a {
  font-size: 1.4em;
  color: black;
  text-shadow: 1px 1px 1px gray;
}

footer {
  background-color: #333;
  color: white;
  padding: 16px;
  text-align: center;
}

@media (max-width: 768px) {
  nav li {
    margin-right: 8px;
  }

  nav a {
    padding: 4px;
  }

  .container {
    padding: 8px;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  section h2 {
    font-size: 20px;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 4px;
  }

  a {
    font-size: 1.3em;
    color: black;
    text-shadow: 1px 1px 1px gray;
  }
}

@media (max-width: 375px) {
  nav li {
    margin-right: 4px;
  }

  nav a {
    padding: 2px;
  }

  .container {
    padding: 4px;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  section h2 {
    font-size: 18px;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 2px;
  }

  a {
    font-size: 1.2em;
    color: black;
    text-shadow: none;
  }
}